# 鍵情報
secrets.py

# キャッシュ
__pycache__/

# 取得した要素情報
old_elem.txt

# venv環境
.detect-web-updates/

# Modules
beautifulsoup4-4.10.0.dist-info/
bin/
bs4/
bs4-0.0.1-py3.9.egg-info/
certifi/
certifi-2021.10.8.dist-info/
charset_normalizer/
charset_normalizer-2.0.7.dist-info/
idna/
idna-3.3.dist-info/
requests/
requests-2.26.0.dist-info/
soupsieve/
soupsieve-2.3.dist-info/
urllib3/
urllib3-1.26.7.dist-info/